body {
  align-items: center;
  display: flex;
  justify-content: center; }

.c-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 320px; }

.c-hed {
  font-family: fantasy;
  text-shadow: 2px 2px #dbdbdb; }

.c-translator {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  box-shadow: 10px 10px 5px #dbdbdb;
  display: flex;
  margin: 0 8px 16px 0;
  padding: 8px;
  flex-direction: column;
  justify-content: center; }

.c-translator__field {
  margin: 0 0 16px 0;
  font-size: 32px;
  text-align: center; }

.c-translator__toggle {
  font-size: 20px; }

.c-translator__input {
  border: 1px solid #dbdbdb;
  height: 15vw;
  max-height: 60px;
  text-align: center;
  width: 80%; }

::placeholder {
  font-size: 16px;
  opacity: 0.5; }

.c-translator__form {
  align-items: center;
  display: flex;
  flex-direction: column; }

.c-translator__output {
  border: none; }

.c-translator__output--pronounce {
  margin-bottom: 8px; }

.c-translator__output--pinyin {
  word-break: break-all;
  font-size: 20px; }
