<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Translatehbs</title>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/index.css">
  </head>
  <body>
    <div class="c-container">
      <h1 class="c-hed">Translatehbs</h1>
      <a href="/words">All words</a>
      <div class="c-translator">
        <select class="c-translator__field c-translator__toggle" id = "translate-from-dropdown">
            <option value="en">En-Ch</option>
            <option value="zh">Ch-En</option>
        </select>
        <form class="c-translator__form" action="/" method="post">
        <input class="c-translator__field c-translator__input" id="translate-input" type="text" name="english" value="" placeholder="Input text here">
        <input value="Add" type="submit">
        </div>
    <input class="c-translator__field c-translator__output c-translator__output--pronounce" id="translate-output" name="chinese"></input>
    <input class="c-translator__field c-translator__output c-translator__output--pinyin" id="pronounce-output" name="pinyin"></input>
  </form>
</div>

    {{{ body }}}
    <script src="../js/bundle.js" charset="utf-8"></script>
  </body>
</html>
