.c-index__container {
  display: flex;
  flex-direction: column; }

.c-index__container--forms {
  flex-direction: row;
  margin-bottom: 8px; }

.c-index__container--top-row {
  flex-direction: row; }

.c-index__field--chinese {
  color: red;
  font-size: 24px; }

.c-index__field--pinyin {
  color: blue;
  font-size: 16px; }

.c-index__field--english {
  color: green;
  font-size: 20px; }
